<%include header.ejs %>
<%include nav.ejs %>
<div id = "home" class = "container">
    <h1>Welcome to the FFC Voting App</h1>
</div>
<div class="btn-container">
    <% if(authenticated === true){ %>
        <a href="/mypolls" class="btn btn-default">My Polls</a>
        <span>or</span>
        <a href="/polls" class="btn btn-default">View Polls</a>
    <% }else{ %>
        <a href="/signup" class="btn btn-default">Get Started</a>
        <span>or</span>
        <a href="/polls" class="btn btn-default">View Polls</a>
    <%}%>
</div>
