<%include header.ejs %>
<%include nav.ejs %>
<div id = "home" class = "container">
    <% if(nopolls){ %>
        <p><%=nopolls%></p>
    <%}else{%>
    <%}%>
    <h1 class="polls-head">My Polls</h1>
    <% for(var i=0;i< myPolls.length;i++){ %>
            <div class="title">
                <div class="poll-name">
                   <%= myPolls[i].title %> 
                </div>
                
                    <div class="poll-link">
                        <a href="polls/<%= myPolls[i]._id %>">VIEW POLL</a>
                    </div>  
            </div>
    <%}%>
</div>
