  <body>
    <header>
        <nav class="navbar navbar-dark navbar-full navbar-fixed-top" style="background-color: #0099ff;">
          <div class="container">
            <% if(authenticated === false){ %>
              <a  id="title" class="navbar-brand" href="/" style="color: #dddddd">Vote Crew</a>
            <ul class="nav navbar-nav pull-sm-right" style = "float: right;">
              <li class="nav-item active"><a class="nav-link" href="/polls">Polls</a></li>
              <li class="nav-item"><a class="nav-link" href="/login">Login In</a></li>
              <li class="nav-item"><a class="nav-link" href="/signup">Sign Up</a></li>
            </ul>
          <% }else{ %>
              <a  id="title" class="navbar-brand" href="/" style="color: #dddddd">Vote Crew</a>
            <ul class="nav navbar-nav pull-sm-right" style = "float: right;">
              <li class="nav-item active"><a class="nav-link" href="/polls">Polls</a></li>
              <li class="nav-item"><a class="nav-link" href="/createpoll">Create Poll</a></li>
              <li class="nav-item"><a class="nav-link" href="/mypolls">My Polls</a></li>
              <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li> <!--links to logout function-->
            </ul>
          <%}%>
          </div>
        </nav>
      </header>
  </body>