<%include header.ejs %>
<%include nav.ejs %>
<div id = "home" class = "container">
    <h1 class="polls-head">Polls</h1>
    <div class="main-aligner">
        
        <% for(var i = 0; i < allPolls.length; i++){ %>
            <div class="title" id="dynamicDiv">
                <div class="poll-name" id="dynamicSpan">
                    <%= allPolls[i].title %>
                </div>
                    <div class="poll-link">
                        <div class= "poll-view">
                            <a href="polls/<%= allPolls[i]._id %>" class="btn button view">View Poll</a>
                        </div>
                        <div class="createdBy">
                            <p>Created by: <%=allPolls[i].createdBy %></p>
                        </div>
                    </div>
            </div>
        <%}%>
    </div>
</div>
<script>
   function shrink()
    {
        var textSpan = document.getElementById("dynamicSpan");
        var textDiv = document.getElementById("dynamicDiv");
        textSpan.style.fontSize = 64;
        while(textSpan.offsetHeight > textDiv.offsetHeight)
        {
            textSpan.style.fontSize = parseInt(textSpan.style.fontSize) - 1;
        }
    }
</script>